body {

    text-align: center;
    background-color: #f5f0e3;
}

a {

    color: black;
}

h1 {

    font-family: 'Noto Serif', serif;
}

h3 {

    color: #0f4c75;
}

hr {

    border: dotted gray 6px;
    border-bottom: none;
    width: 5%;

    margin: 100px auto;
}

.profile-picture {

    width: 15%;
    border-radius: 100%;
    margin-top: 50px;
}

.name {

    font-family: 'Indie Flower', cursive;
}

.skill-row {

    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.5;
}

.work-row {

    margin: 100px auto 100px auto;

    text-align: left;

    line-height: 1.5;
    
}

.org-row {

    margin: 100px auto;
    line-height: 1.5;
}

.projects-row {

    margin: 100px auto;
    line-height: 1.5;
    text-align: left;
}

.work-logos {

    width: 16%;
    border-radius: 100%;

    margin-right: 30px;

    float: left;

}

.skill-logos {

    width: 16%;
    border-radius: 100%;
    margin-left: 30px;

    float: right;
}

.org-logos {

    width: 16%;
    border-radius: 100%;
}

.project-logos {

    width: 16%;
    border-radius: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
}

.work-experience {

    width: 50%;
    margin: auto;
}

.skills {

    width: 50%;
    margin: auto;
}

.organizations {

    width: 50%;
    margin: auto;
}

.projects {

    width: 50%;
    margin: auto;
}

.footer {

    background-color: #cfb495;

    padding: 100px 0;
}